body {
    background-color: aquamarine;
    font-family: Roboto;
    /* margin: 0; */
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

button {
    background-color: rgba(0, 0, 0, 0.667);
    color: gold;
    /* padding: 0.2rem 0.4rem; */
    padding: 6px 6px;
    border-radius: 500px;
    border: 1px solid green;
    transition: 0.3s;
    font-weight: 400;
    font-family: 'Roboto';
}

button:hover {
    color: gold;
    background-color: rgba(0, 0, 0, 0.997);
    border-radius: 500px;
    border: 1px solid gold;
    transform: scale(1.05);
    transform: translate(0px, -2px);
}

h1 {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    color: bisque;
    padding: 1rem;
}

h1 span {
    background-color: rgb(18, 18, 18);
    padding: 0.5rem 2rem;
    border-radius: 40px;
}

@media (max-width:1000px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width:600px) {
    h1 {
        font-size: 2.5rem;
    }
}